{% extends 'base.html.twig' %}
{% block title %}
    Compte validé
{% endblock %}
{% block body %}
    <div class="container">
        <a class="offset-2 col-8 text-center oi oi-check icon-form"></a>

        <div class="offset-1 col-10">
            <h2>Félicitations votre compte à été correctement validé.</h2>
        </div>
        <div class="offset-4 col-4 text-center">
            {% if app.user %}
            <a href="{{ path('home') }}" class="btn btn-primary">
                Cliquez ici pour retourner à l'accueil</a>
            {% else %}
            <a href="{{ path('app_login') }}" class="btn btn-primary ">
                Cliquez ici pour allez vous connecter!</a>
            {% endif %}
        </div>
    </div>
{% endblock %}



