{% extends 'base.html.twig' %}

{% block body %}
    <a class="offset-2 col-8 text-center oi oi-aperture icon-form"></a>

    <div class="container">
        {{ form_start(formComment) }}
        {{ form_widget(formComment) }}

        <button class="btn btn-outline-success offset-4 col-4 text-center">Enregistrer</button>
        {{ form_end(formComment) }}
    </div>

{% endblock %}

{% block title %}
    Ajouter un commentaires
{% endblock %}

