{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(formComment) }}
    {{ form_widget(formComment) }}

    <button class="btn btn-primary">Enregistrer</button>
    {{ form_end(formComment) }}

{% endblock %}

{% block title %}
Ajouter un commentaires
{% endblock %}

