{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <img src="image/home.jpg" alt="montagne et snowboard" style="width: 100%">
    <h1 id="homeSentence">La communauté vous apprend le freestyle</h1>
    <hr>
    <div class="container">
        <h1> Les derniers tricks !!!</h1>
    </div>

{% endblock %}
