#imgHome {
    width: 100%;
}

#homeSentence {
    position: absolute;
    left: 3%;
    top: 15%;
}

#navbarUser {
    position: absolute;
    right: 5%;
}

.container {
    margin-top: 5%;
}

article a {
    text-decoration: none;
    color: #222222;
}

footer {
    bottom: 0;
}
article .card{
    text-align: center;
}
article .card-title{
    font-size: 1em;
}
article .card-text{
    font-size: 0.8em;
}
article .card-footer {
    font-size: 0.5em;
    text-align: left;
}
article #cardGroupe{
    font-size: 0.9em;
}
#alert{
    position: absolute;
    width: 100%;
}
