#logo {
  width: 3%;
  margin-right: 3%;
}

#imgHome {
  width: 100%;
}

#homeSentence {
  position: absolute;
  left: 3%;
  top: 15%;
  font-family: 'Permanent Marker', cursive;
  color: #222;
}

#navbarUser {
  position: absolute;
  right: 5%;
}

.container {
  margin-top: 5%;
}

a {
  color: #aaa;
}

footer {
  background-color: #303030;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin-top: 5%;
}

.card-title {
  padding: 2%;
}

article {
  text-align: center;
  height: 100%;
}

article .card-title {
  font-size: 1.2em;
  margin: 5%;
  padding: 5%;
  margin-bottom: 15%;
}

article .card-footer {
  text-align: right;
  position: absolute;
  bottom: 0;
}

#alert {
  position: absolute;
  width: 100%;
}

#updateTrick {
  position: absolute;
  right: 5%;
  top: 10%;
}

#button-card-home {
  position: absolute;
  right: 2%;
  top: 2%;
}

#button-link-trick {
  min-width: 75%;
}

.card {
  margin-top: 2%;
}

.card-text {
  padding: 2%;
}

.user-image {
  width: 100%;
  height: 100%;
}

#img-top {
  height: 175px;
  width: 100%;
  margin-bottom: 5%;
}

#img-top-trick {
  width: 100%;
  margin-bottom: 5%;
}

.p-default-img {
  position: absolute;
  top: 35%;
  text-align: center;
}

.arrow {
  color: aliceblue;
  font-size: 5em;
  position: relative;
}

.load-more {
  padding-top: 5%;
  color: aliceblue;
  font-size: 5em;
}

.load-more:hover {
  text-decoration: none;
}

.carousel-inner {
  height: 480px;
}

.carousel-item {
  max-height: 480px;
}

.profil-img {
  width: 100%;
}

.title-user {
  padding-bottom: 5%;
}

.detail-profil {
  background-color: #303030;
  border-radius: 25px;
  padding: 5%;
}

.icon-form {
  font-size: 10em;
  padding-bottom: 5%;
  padding-top: 5%;
}

#descriptionTextArea {
  min-height: 50%;
}

.arrowForHide {
  position: fixed;
  right: 5%;
  bottom: 10%;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
}

.custom-file-input {
  opacity: 1;
}

.custom-file-label {
  opacity: 0;
}

.add_image_link {
  margin-top: 0.5em;
}

.fieldImage {
  width: 100%;
  border: solid 1px aliceblue;
  border-radius: 25px;
  margin: 2%;
  padding: 2%;
}

.fieldImage img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.fieldIFrame {
  margin: 2%;
  padding: 2%;
}

iframe {
  max-width: 100%;
}

fieldset legend {
  visibility: hidden;
}

.user_show {
  font-size: 1.5em;
}

@media (max-width: 768px) {
  #homeSentence {
    top: 25%;
  }

  #logo {
    width: 8%;
  }

  .arrowForHide h4 {
    visibility: hidden;
  }

  .carousel-inner {
    height: 375px;
    margin-bottom: 2%;
  }
}

@media (max-width: 425px) {
  #homeSentence {
    font-size: 1em;
    top: 10%;
  }

  #logo {
    width: 10%;
  }

  .arrowForHide a {
    font-size: 3em;
  }

  #account-validated {
    font-size: 2em;
  }

  .carousel-inner {
    height: 300px;
    margin-bottom: 2%;
  }

  .card h3 {
    font-size: 1.5em;
  }

  .user-image {
    max-width: 50%;
  }

  form .btn-secondary {
    margin-bottom: 5%;
  }
}
