<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Confirmation d'email</title>
</head>
<body>
<div class="container">
    <h1 class="text-center">Bonjour et bienvenue sur le site Snowtricks</h1>
    <p>Pour valider votre compte Veuillez cliquez sur le bouton ci-dessous !</p>
    <a class="btn btn-success offset-2 col-8" href="http://snowtricks.local/validateUser/{{ token.token }}">
        Valider votre compte !</a>
</div>

</body>
</html>